.Rproj.user
.Rhistory
.RData
.Ruserdata
README.Rmd
build.R
R/scratchwork*.R
.httr-oauth
.DS_Store 
*.Rcheck/ 
kerasformula.Rproj
examples/**/*Rmd
examples/*Rmd
examples/*/*tar*
examples/**/*html
inst/doc/*html
R/loss.R
src/loss.py
R/.DS_store
R/lstm.R
examples/.DS_Store
short_course/APSA_readme.Rmd